/*
  ========================================
    Body 
  ========================================
*/

body {
  background-color: #fafafa;
  height: 100vh;
}

.container {
  max-width: 1352px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  padding: 24px;
}

a {
  text-decoration: none;
}

/*
  ========================================
    Header 
  ========================================
*/

/* General styles for the header part */
header {
  border-radius: 12px;
  background: #fff;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* From here we have headers middle section */

.header-details {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  width: 15%;
}

.logo-small {
  display: none;
}

.links {
  background-color: white;
  color: #737373;
  padding: 11px 27px;
  border: none;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  text-decoration: none;
}

.btn {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-top: 2px;
}

.links:hover {
  color: #633cff;
}

.links:hover .icon-link {
  fill: #633cff;
}

.icon-link {
  fill: #737373;
}

.prof-details {
  background-color: white;
  color: #737373;
  border-radius: 8px;
  border: none;
  padding: 11px 27px;
  display: flex;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.link-active-state {
  background: #efebff;
  color: #633cff;
}

.link-active-state .icon-link {
  fill: #633cff;
}

.prof-details:hover {
  color: #633cff;
}

.prof-details:hover .icon-details {
  fill: #633cff;
}

.icon-details {
  fill: #737373;
}

.preview {
  border-radius: 8px;
  background-color: white;
  padding: 11px 27px;
  border: 1px solid #633cff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.preview-p {
  color: #633cff;
  background: inherit;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.preview-img {
  display: none;
}

.preview:hover {
  border: 1px solid #633cff;
  background: #efebff;
}
/*
  ========================================
    Main 
  ========================================
*/

/* Main part styling */
.main {
  display: grid;
  grid-template-columns: 45fr 55fr;
  gap: 24px;
  flex-grow: 1;
}

.main-part {
  border-radius: 12px;
  border: none;
  background: #fff;
  display: flex;
  align-items: center;
}

/* left side of the main */

.visual-left {
  justify-content: center;
}

.phone {
  width: 307px;
}

.img-wrapper {
  position: relative;
}

/* Right part of the main */

.upper-main {
  padding: 40px;
  width: 100%;
}

.upper-main {
  max-height: 550px;
  overflow-y: auto;
}

.upper-main::-webkit-scrollbar {
  width: 12px;
}

.upper-main::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.upper-main::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.upper-main::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.info-right {
  flex-direction: column;
  justify-content: space-between;
}

.customization-h {
  color: #333;
  font-size: 32px;
  font-weight: 700;
  align-self: stretch;
}

.customization-p {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
  align-self: stretch;
  margin: 10px 0 40px;
  text-align: left;
}

.add-link {
  padding: 11px 27px;
  border-radius: 8px;
  border: 1px solid #633cff;
  background-color: white;
  width: 100%;
  margin: 40px 0 24px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.1s, color 0.1s, border-color 0.1s;
}

.add-p {
  color: #633cff;
  font-size: 16px;
  font-weight: 600;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.add-link:hover {
  border: 1px solid #633cff;
  background: #efebff;
}

/* Grey part */

.new-link-page {
  width: 90%;
  border-radius: 12px;
  background: #fafafa;
  padding: 60px 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.new-link-image {
  width: 50%;
}

.new-link-h {
  color: #333;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin: 40px 0 24px;
}

.new-link-p {
  color: #737373;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}

.end {
  border-top: 1px solid #d9d9d9;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 25px;
}

.save {
  border-radius: 8px;
  border: none;
  opacity: 0.25;
  background: #633cff;
  padding: 11px 27px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.buttonActive .save {
  opacity: 1;
  background-color: #633cff;
}
.save:hover {
  background: #3c11e9;
  box-shadow: 0px 0px 32px 0px rgba(32, 6, 126, 0.25);
}

/* From here there is added link part */

/* left part of main div - need updates */
.added-link-rectangle {
  width: 237px;
  height: 44px;
  border-radius: 8px;
  background: #1a1a1a;
  padding: 13px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 43.8%;
  left: 11.5%;
}

.icon-github-rectangle {
  width: 20px;
  filter: brightness(10);
}

.rectangle-h {
  margin-right: auto;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
}
.icon-arrow-right {
  width: 20px;
  filter: brightness(10);
}

/* Right part of the main div */

.link-box {
  border-radius: 12px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 12px;
  margin-bottom: 24px;
}

.upper-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
}

.custom-link {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  color: #737373;
  font-size: 16px;
  font-weight: 700;
}

.custom-remove {
  white-space: nowrap;
  margin-left: auto;
  color: #737373;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.icon-drag-and-drop {
  width: 30%;
}

/* From here we have custom selections styling */

.custom-selections {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
}

.cstm {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  position: relative;
}

.cstm label {
  color: #333;
  font-size: 12px;
  font-weight: 400;
}

#platform-selection {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../assets/images/icon-github.svg),
    url("../assets/images/icon-chevron-down.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 8px, 97%;
  padding: 12px 30px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-weight: 400;
}
#platform-selection:focus {
  border: 1px solid #633cff;
  box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
  outline: none;
}

.gitHub {
  margin-left: 10%;
}

#input-link {
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 12px 30px;
  background-image: url(../assets/images/icon-link.svg);
  background-repeat: no-repeat;
  background-position: 8px 11px;
  cursor: pointer;
}
#input-link:focus {
  border: 1px solid #633cff;
  box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
  outline: none;
}

.links-error-p {
  display: none;
  position: absolute;
  top: 29px;
  right: 16px;
  color: #ff3939;
  font-size: 12px;
  font-weight: 400;
}

.error .links-error-p {
  display: block;
}
.error #input-link {
  padding-right: 110px;
  border: 1px solid #ff3939;
}
.error #input-link:focus {
  box-shadow: 0px 0px 0px 0px rgba(99, 60, 255, 0.25);
  outline: none;
}
