/*
  ========================================
    Body 
  ========================================
*/

body {
  background-color: #fafafa;
  height: 100vh;
}

.container {
  max-width: 1352px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  padding: 24px;
}

a {
  text-decoration: none;
}

/*
  ========================================
    Header 
  ========================================
*/

/* General styles for the header part */
header {
  border-radius: 12px;
  background: #fff;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* From here we have headers middle section */

.header-details {
  display: flex;
  gap: 16px;
}

.logo {
  width: 15%;
}

.logo-small {
  display: none;
}

.links {
  background-color: white;
  color: #737373;
  padding: 11px 27px;
  border: none;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  text-decoration: none;
}

.btn {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-top: 2px;
}

.links:hover {
  color: #633cff;
}

.links:hover .icon-link {
  fill: #633cff;
}

.icon-link {
  fill: #737373;
}

.prof-details {
  background-color: white;
  color: #737373;
  border-radius: 8px;
  border: none;
  padding: 11px 27px;
  display: flex;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.link-active-state {
  background: #efebff;
  color: var(--purple, #633cff);
}

.link-active-state .icon-details {
  fill: #633cff;
}

.prof-details:hover {
  color: #633cff;
}

.prof-details:hover .icon-details {
  fill: #633cff;
}

.icon-details {
  fill: #737373;
}

.preview {
  border-radius: 8px;
  background-color: white;
  padding: 11px 27px;
  border: 1px solid #633cff;
  cursor: pointer;
}

.preview-p {
  color: #633cff;
  background: inherit;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.preview:hover {
  border: 1px solid #633cff;
  background: #efebff;
}
/*
  ========================================
    Main 
  ========================================
*/

/* Main part styling */
.main {
  display: grid;
  position: relative;
  grid-template-columns: 40fr 60fr;
  gap: 24px;
  flex-grow: 1;
}

.main-part {
  border-radius: 12px;
  border: none;
  background: #fff;
  display: flex;
  align-items: center;
}

/* left side of the main */

.visual-left {
  position: relative;
  justify-content: center;
  padding: 80px;
}

.phone {
  width: 307px;
}

/* Right part of the main */

.upper-main {
  padding: 40px 40px 0 40px;
  width: 100%;
}

.info-right {
  flex-direction: column;
}

.customization-h {
  color: #333;
  font-size: 32px;
  font-weight: 700;
  align-self: stretch;
}

.customization-p {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
  align-self: stretch;
  margin: 10px 0 40px;
  text-align: left;
}

/* picture upload part */

.profile-pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #fafafa;
  padding: 20px;
  margin: 0 40px 40px 40px;
}

.profile-picture-p {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
  width: 15em;
}

/* Upload image  */

.upload-photo-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background-color: #efebff;
  width: 40%;
  padding: 61px 39px 35px;
  margin: 0 24px 0 50px;
  cursor: pointer;
  position: relative; /* Add this */
  background-size: cover;
  position: relative;
}

.upload-photo-class:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../assets/images/icon-upload-image.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upload-photo-class.uploaded:before {
  content: "Change Photo";
}

.upload-photo-class:hover {
  background-color: #8db9dd3f;
  transition: 0.3s ease-in;
}

.upload-p {
  display: none;
}

.custom-file-input {
  display: block;
  margin: 0 auto;
  color: #633cff;
  cursor: pointer;
  text-align: center;
  margin-top: 16px;
  width: 8em;
}

.uploaded-image {
  max-width: 100%;
  max-height: 200px;
  display: block;
  margin-top: 10px;
}

.upload-photo-background {
  background-size: cover;
  background-position: center;
}

/* Here upload image part stops, and begins right text part of it */

.upload-explanation {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
}

/* Blank fill */

.profile-blanket {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 12px;
  background: #fafafa;
  padding: 20px;
  margin: 0 40px 40px 40px;
}

.blnks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.blnks label {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
  width: 11em;
}

input {
  border: none;
  outline: none;
}

.input-basic {
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  color: #333;
  padding: 12px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  margin-left: 120px;
}

.input-basic:focus {
  border: 1px solid #633cff;
  background: #fff;
  box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
}

/* Final save part */
.end {
  border-top: 1px solid #d9d9d9;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 25px;
}

.save {
  border-radius: 8px;
  border: none;
  opacity: 0.25;
  padding: 11px 27px;
  background: #633cff;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.save:hover {
  background: #3c11e9;
  box-shadow: 0px 0px 32px 0px rgba(32, 6, 126, 0.25);
}
.profile-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 320px;
}
.image-wrapper {
  margin-top: 110px;
  margin-bottom: 10px;
  width: 120px;
  height: 130px;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.fulName {
  color: #333;
  font-size: 19px;
  font-weight: 700;
}
.mail-name {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
}
.fullName-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 200px;
  height: 100px;
}

.added-link-rectangle {
  width: 237px;
  height: 44px;
  border-radius: 8px;
  background: #1a1a1a;
  padding: 13px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 43.8%;
}

.icon-github-rectangle {
  width: 20px;
  filter: brightness(10);
}

.rectangle-h {
  margin-right: auto;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
}

.icon-arrow-right {
  width: 20px;
  filter: brightness(10);
}

.your-changes-are-succesfull {
  display: none;
  position: absolute;
  bottom: 40px;
  right: 20%;
  justify-content: center;
  align-items: center;
  gap: 9px;
  padding: 12px;
  height: 56px;
  border-radius: 12px;
  background: #333;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.1);
  color: #fafafa;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.icon-Your-changes {
  width: 20px;
  height: 20px;
}

/* username error */

.username-eror-p {
  display: none;
  position: absolute;
  right: 15px;
  top: 14px;
  color: #ff3939;
  font-size: 12px;
  font-weight: 400;
}

.error #username {
  border: 1px solid #ff3939;
  padding-right: 110px;
}

.error #username:focus {
  box-shadow: none;
}

.error .username-eror-p {
  display: inline;
}

/* lastname error */
.lastname-eror-p {
  display: none;
  position: absolute;
  right: 15px;
  top: 14px;
  color: #ff3939;
  font-size: 12px;
  font-weight: 400;
}

.error #lastname {
  border: 1px solid #ff3939;
  padding-right: 110px;
}

.error #lastname:focus {
  box-shadow: none;
}

.error .lastname-eror-p {
  display: inline;
}

/* email-blank error */
.email-blank-eror-p {
  display: none;
  position: absolute;
  right: 15px;
  top: 14px;
  color: #ff3939;
  font-size: 12px;
  font-weight: 400;
}

.error #email-blank {
  border: 1px solid #ff3939;
  padding-right: 110px;
}

.error #email-blank:focus {
  box-shadow: none;
}

.error .email-blank-eror-p {
  display: inline;
}
