/*
  ========================================
    Body 
  ========================================
*/

body {
  background-color: #fafafa;
  height: 100vh;
}

.container {
  max-width: 1352px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  padding: 24px;
}

a {
  text-decoration: none;
}

/*
  ========================================
    Header 
  ========================================
*/

/* General styles for the header part */
header {
  border-radius: 12px;
  background: #fff;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* From here we have headers middle section */

.header-details {
  display: flex;
  gap: 16px;
}

.logo {
  width: 15%;
}

.logo-small {
  display: none;
}

.links {
  background-color: white;
  color: #737373;
  padding: 11px 27px;
  border: none;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  text-decoration: none;
}

.btn {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-top: 2px;
}

.links:hover {
  color: #633cff;
}

.links:hover .icon-link {
  fill: #633cff;
}

.icon-link {
  fill: #737373;
}

.prof-details {
  background-color: white;
  color: #737373;
  border-radius: 8px;
  border: none;
  padding: 11px 27px;
  display: flex;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.link-active-state {
  background: #efebff;
  color: var(--purple, #633cff);
}

.link-active-state .icon-details {
  fill: #633cff;
}

.prof-details:hover {
  color: #633cff;
}

.prof-details:hover .icon-details {
  fill: #633cff;
}

.icon-details {
  fill: #737373;
}

.preview {
  border-radius: 8px;
  background-color: white;
  padding: 11px 27px;
  border: 1px solid #633cff;
  cursor: pointer;
}

.preview-p {
  color: #633cff;
  background: inherit;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.preview:hover {
  border: 1px solid #633cff;
  background: #efebff;
}
/*
  ========================================
    Main 
  ========================================
*/

/* Main part styling */
.main {
  display: grid;
  grid-template-columns: 40fr 60fr;
  gap: 24px;
  flex-grow: 1;
}

.main-part {
  border-radius: 12px;
  border: none;
  background: #fff;
  display: flex;
  align-items: center;
}

/* left side of the main */

.visual-left {
  justify-content: center;
  padding: 80px;
}

.phone {
  width: 307px;
}

/* Right part of the main */

.upper-main {
  padding: 40px 40px 0 40px;
  width: 100%;
}

.info-right {
  flex-direction: column;
}

.customization-h {
  color: #333;
  font-size: 32px;
  font-weight: 700;
  align-self: stretch;
}

.customization-p {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
  align-self: stretch;
  margin: 10px 0 40px;
  text-align: left;
}

/* picture upload part */

.profile-pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #fafafa;
  padding: 20px;
  margin: 0 40px 40px 40px;
}

.profile-picture-p {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
}

.upload-photo {
  width: 40%;
  border-radius: 12px;
  background: #efebff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 61px 15px;
  margin: 0 20px 0 100px;
}

.icon-upload {
  width: 30%;
  margin-bottom: 10px;
}

.upload-p {
  color: #633cff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.upload-explanation {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
}

/* Blank fill */

.profile-blanket {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 12px;
  background: #fafafa;
  padding: 20px;
  margin: 0 40px 40px 40px;
}

.blnks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blnks label {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
  width: 11em;
}

input[type="text"] {
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 12px;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  margin-left: 120px;
}

/* Final save part */
.end {
  border-top: 1px solid #d9d9d9;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 25px;
}

.save {
  border-radius: 8px;
  border: none;
  opacity: 0.25;
  padding: 11px 27px;
  background: #633cff;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.save:hover {
  background: #3c11e9;
  box-shadow: 0px 0px 32px 0px rgba(32, 6, 126, 0.25);
}
/* Upload image */

.custom-file-input {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-p {
  display: none;
}

.custom-file-input label {
  display: block;
  margin: 0 auto;
  background-color: inherit;
  color: #633cff;
  cursor: pointer;
}

.upload-p::before {
  content: "Select an image";
  display: inline-block;
  padding: 8px 16px;
  background-color: #e0e0e0;
  cursor: pointer;
}

.uploaded-image {
  max-width: 100%;
  max-height: 200px;
  display: block;
  margin-top: 10px;
}
